### Objetivo: Consumir API

Acessando a url https://dadosabertos.bcb.gov.br/dataset/estatisticas-meios-pagamentos vocês terão acesso aos dados fornecidos pelo banco central sobre meios de pagamentos.
Vocês podem consultar a API para obter a url para requisição dos dados.


Determine a url fornecida:

In [1]:
data_mm_dd_aaaa = input("Digite a data da cotação do Dólar no formato: MM-DD-AAAA: ")

data_inicio = input("Digite a data de ínicio do período da cotação do Dólar no formato: MM-DD-AAAA: ")
data_fim = input("Digite a data de ínicio do período da cotação do Dólar no formato: MM-DD-AAAA: ")

url_cotacao_dia = f"https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoDolarDia(dataCotacao=@dataCotacao)?@dataCotacao='{data_mm_dd_aaaa}'&$top=100&$format=json&$select=cotacaoCompra,cotacaoVenda,dataHoraCotacao"

url_cotacao_periodo = f"https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoDolarPeriodo(dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?@dataInicial='{data_inicio}'&@dataFinalCotacao='{data_fim}'&$format=json&$select=cotacaoCompra,cotacaoVenda,dataHoraCotacao"

print(f"Data informada da cotação do Dólar no formato: MM-DD-AAAA: {data_mm_dd_aaaa}")
print(f"Período inicial informado da cotação do Dólar no formato: MM-DD-AAAA: {data_inicio}")
print(f"Período final informado da cotação do Dólar no formato: MM-DD-AAAA: {data_fim}")

Data informada da cotação do Dólar no formato: MM-DD-AAAA: 01-02-2023
Período inicial informado da cotação do Dólar no formato: MM-DD-AAAA: 01-02-2023
Período final informado da cotação do Dólar no formato: MM-DD-AAAA: 06-30-2025

Importar bibliotecas

In [2]:
import pandas as pd  #possibilita manipulação e análise de dados
import requests  #possibilita integração com serviços web, solicitações HTTP consumir dados de APIs
import json  #manipular arquivo json

Criar uma função para obter os dados:

In [3]:
def requisicao_api_data(link):
  resposta = requests.get(link)

  if resposta.status_code == 200:      #sucesso na requisição
    dados = resposta.json()
    print('Status Code:', resposta.status_code)
    with open('resultado_dia.json', 'w', encoding='utf-8') as arquivo:   #salvar arquivo json
      json.dump(dados, arquivo, ensure_ascii=False, indent=4)

  else:
    print('Status Code:', resposta.status_code)

def requisicao_api_periodo(link):
  resposta = requests.get(link)

  if resposta.status_code == 200:      #sucesso na requisição
    dados = resposta.json()
    print('Status Code:', resposta.status_code)
    with open('resultado_periodo.json', 'w', encoding='utf-8') as arquivo:   #salvar arquivo json
      json.dump(dados, arquivo, ensure_ascii=False, indent=4)

  else:
    print('Status Code:', resposta.status_code)

Chamar função passando o link gerado pela interface da API

In [4]:
requisicao_api_data(url_cotacao_dia)

Status Code: 200

In [5]:
requisicao_api_periodo(url_cotacao_periodo)

Status Code: 200

Convertendo em DataFrame

In [6]:
jsondata_dia = pd.read_json('resultado_dia.json')

In [7]:
jsondata_periodo = pd.read_json('resultado_periodo.json')

In [8]:
jsondata_dia

,@odata.context,value
0,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'cotacaoCompra': 5.343, 'cotacaoVenda': 5.343..."

In [9]:
jsondata_periodo

,@odata.context,value
0,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'cotacaoCompra': 5.343, 'cotacaoVenda': 5.343..."
1,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'cotacaoCompra': 5.3753, 'cotacaoVenda': 5.37..."
2,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'cotacaoCompra': 5.4453, 'cotacaoVenda': 5.44..."
3,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'cotacaoCompra': 5.402, 'cotacaoVenda': 5.402..."
4,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'cotacaoCompra': 5.2849, 'cotacaoVenda': 5.28..."
...,...,...
620,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'cotacaoCompra': 5.4932, 'cotacaoVenda': 5.49..."
621,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'cotacaoCompra': 5.5421, 'cotacaoVenda': 5.54..."
622,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'cotacaoCompra': 5.5139, 'cotacaoVenda': 5.51..."
623,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'cotacaoCompra': 5.4753, 'cotacaoVenda': 5.47..."
624,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'cotacaoCompra': 5.4565, 'cotacaoVenda': 5.45..."

In [10]:
data_dia = jsondata_dia['value']

In [11]:
data_periodo = jsondata_periodo['value']

In [12]:
dados_dia_df = pd.json_normalize(data_dia)

In [13]:
dados_periodo_df = pd.json_normalize(data_periodo)

Exibindo os primeiros valores do Dataframe

In [14]:
dados_dia_df.head()

   cotacaoCompra  cotacaoVenda          dataHoraCotacao
0          5.343        5.3436  2023-01-02 13:05:57.593

In [15]:
dados_periodo_df.head()

   cotacaoCompra  cotacaoVenda          dataHoraCotacao
0         5.3430        5.3436  2023-01-02 13:05:57.593
1         5.3753        5.3759   2023-01-03 13:11:19.08
2         5.4453        5.4459  2023-01-04 13:09:19.572
3         5.4020        5.4026  2023-01-05 13:03:32.262
4         5.2849        5.2855  2023-01-06 13:02:28.727

Gerando os arquivos .CSV

In [20]:
dados_dia_df.to_csv('resultado_dia.csv', sep=';', index=False)

In [21]:
dados_periodo_df.to_csv('resultado_periodo.csv', sep=';', index=False)